*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: rgb(245, 245, 242);
    /* display:flex */
    min-width: 600px;
    
}
#header{
    width: 100vw;
    max-width: 100%;
    height: 50px;
    background: black;
    display: flex;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    align-items: center;
   

    
}
.header_more{
    position: relative;
    overflow: visible;
   
}
.header_more i{
    display: inline-block;
}
.window{
    display: none;
    position: absolute;
    background: white;
    color: black;
    top: 50px;
    left: -10px;
    width: 150px;
    font-size: 20px;
    box-shadow: 0 0 10px rgb(14, 13, 13);
    
}
.more{
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}
.search,.header_band,.header_home,.header_tour,.header_contact,.header_more,.header_search{
    padding: 17px 24px 17px 24px;
    
    cursor: pointer;
}
.header_search{
    display: block;
    
}
.search{
    display: block;
    position: absolute;
    top: 0px;
  right: 10px;
  
}
.search:hover{
    background:rgb(235, 230, 230,0.5) ;
}
.header_home:hover{
    background: rgb(235, 230, 230,0.5);
}
.header_band:hover{
    background:rgb(235, 230, 230,0.5) ;
}
.header_tour:hover{
    background:rgb(235, 230, 230,0.5) ;
}
.header_contact:hover{
    background:rgb(235, 230, 230,0.5) ;
}
.header_more:hover{
    background:rgb(235, 230, 230,0.5) ;
    overflow-y: visible;
}
.header_search:hover{
    background:rgb(235, 230, 230,0.5) ;
}
.header_more:hover .window{
    display: block;
}
.more:hover{
    background: rgb(126, 120, 120);
}
.header_band,.header_home,.header_tour,.header_contact,.header_more a,.header_search{
    text-transform: uppercase;
}
#slide{
    margin-top: 50px;
    padding-top: 50%;
    width: 100%;
    background: url(../configuration/img/chicago.jpg) top center /cover no-repeat;
    position: relative;
}
#slide .box_content_slide{
    position: absolute;
    bottom: 48px;
    color: white;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    text-shadow: 0 0 2px black;
}
#slide .box_content_slide h2{
    font-size: 25px;
    padding: 10px;
    text-transform: uppercase;
}
#slide .box_content_slide p{
    font-size: 15px;
}
.content_the_band{
    width: 800px;
    margin: auto;
    max-width: 100%;
    padding: 20px 20px;
}
.content_the_band h2,.content_the_band small{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
h2{
    letter-spacing: 4px;
}
small{
    font-style: italic;
    opacity: 0.7;
}
.about{
    margin-top: 20px;
    padding-inline-end: 0px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.4;

}
.content_advertise{
    width: 100%;
}

.content_member{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
   padding-bottom: 60px;
  
   
}
.member-img img{
    width: 60%;
    border-radius: 5px;
}
.member-name{
    margin-bottom: 20px;
}
.content_tour_date{
    background:black;
    
}
.ticket_sale{
    margin-top: 40px;
    list-style: none;
    background: white;
    padding: 0px 0px;
    

}
.ticket_sale li{
   color: rgb(41, 40, 40,0.5);
    padding: 10px 10px;
    border-bottom: 1px solid rgb(22, 22, 22,0.5);
}
.sold_out{
    background: red;
    padding: 2px 4px;
    border-radius: 3px;
    color: white;
    margin-left: 10px;
}
.remain{
    float: right;
    background: black;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -2px;
    text-align: center;
    line-height: 20px;
}
.place_show{
    background: white;
    border-radius: unset;
    margin: 0 10px;
    padding: 0;
    
}
.place{
    display: flex;
    margin-top: 40px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 80px;
}
.place_img{
    padding: unset;
    background: black;
}
.place_img img{
    width: 100%;
    display: block;
    
}
.place_img img:hover{
    opacity: 0.6;
}
.place_show_content{
    padding: 10px;
    
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.about{
    font-size: 15px;
    letter-spacing: 0px;
}
.buy_now{
    margin-top: 20px;
    padding: 8px 16px;
    border: none;
    outline: none;
    font-size: 16px;
    background: black;
    color: white;
    margin-bottom: 15px;
    transition: 0.3s;
    cursor: pointer;
}
.buy_now:hover{
    background: rgb(128, 127, 127);
    color: black;
}
.date{
    color: rgb(87, 84, 84);
}
.modal{
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(36, 35, 35, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 800px;
    min-height: 200px;
    max-width: calc(100%-64px);
    background: white;
    position: relative;
    animation: modalshow ease 0.5s;

}
.icon_close{
    position: absolute;
    right: 0px;
    color: white;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.icon_close:hover{
    background: white;
    opacity: 0.7;
    color: rgb(14, 13, 13);
}
.header_modal{
background:  rgb(6, 197, 165);
color: white;
height: 129px;
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
letter-spacing: 2px;
}
.header_modal i{
    margin-right: 10px;
}
.modal_content{
padding: 15px;
}
.ticket_content{
    margin-top: 10px;
}
label{
    margin-top: 10px;
}
input{
    margin-top: 10px;
    width: 100%;
    height: 40px;
}
#input{
    margin-bottom: 30px;
}
.btn_buy{
    margin-top: 20px;
    padding: 7px 2px;
    width: 100%;
    height: 54px;
    background: rgb(6, 197, 165);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: white;
}
.btn_buy i{
    font-weight: 900;
}
.btn_buy:hover{
    background-color: rgb(136, 132, 132);
    color: black;
}
.need_help{
    margin-top: 20px;
    margin-bottom: 30px;
  float: right;
}
.need_help a{
    color: rgb(143, 82, 194);
}
.clear{
    clear: both;
}
.hide{
    display: none;
}
@keyframes modalshow {
    from{
        top:-100px;
        opacity: 0;
    }
    to{
        top: 0%;
        opacity: 1;
    }
}
.col-full{
    width: 100%;
}
.col-half{
    margin-left: 10px;
    margin-right: 10px;
     

}
.unset-left{
    margin-left: unset;
}
.unset-right{
    margin-right: unset;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.flex-content{
    display: flex;
    justify-content: center;
    align-items: center;

}
.block-item{
    display: inline-block;
}
.row{
    width: 100%;
}
.row_content p i{
    display: inline-block;
    width: 50px;
}
.row_content{
    line-height: 1.5;
}
form{
    margin-left: 20px;
}
.padding{
    padding-left: 5px;
    padding-right: 5px;
}
.unset-wid{
    float: right;
    background: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.row_content{
    margin-top: -18px;
}
form{
    margin-top: 40px;
    margin-left: 90px;
}
.content_img{
    width: 100%;
    margin-top: 100px;
    padding-top: 70%;
    background: url(../configuration/img/map.jpg) top center /cover no-repeat;
}
.icon_footer{
    margin-top: 100px;
    display: flex;
    font-size: 30px;
    opacity: 0.8;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
}

.content_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.margin_content{
    margin-left: 10px;
}
.cursor{
    cursor: pointer;
}
.icon_footer i:hover{
    opacity: 0.2;
    
}
.header_menu{
display: none;
}

.row_content p a{
    color: blue;
    text-decoration: underline;
}
.row_content p a:hover{
    color: blueviolet;
}
